.price-list{
  background: url(../img/pattern.png);
  text-align: center;
}
.price-list__img{
  max-width: 1550px;
  display: inline-block;
  vertical-align: middle;
}
.price-list__cake{
  width: 100%;
  height: 228px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.price-list__circle-shadow{
  height: 175px;
  width: 175px;
  background-color: rgba(black, .2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.price-list__pic{
  height: 175px;
  width: 175px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.price-list__circle-cakePink{
  width: 197px;
  height: 281px;
  border-radius: 0 0 0 88px;
  overflow: hidden;
  top: 20%;
}
.price-list__circle-biscuits{
  height: 200px;
  width: 235px;
  overflow: hidden;
}
.price-list__cakePink{
  margin-left: -1363px;
  margin-top: 33px;
}
.price-list__biscuits{
  margin-left: -792px;
  margin-top: 29px;
}
.price-list__donut{
  margin-left: -393px;
}
.price-list__circle-roll{
  width: 200px;
  height: 200px;
  left: -25px;
  overflow: hidden;
}
.price-list__roll{
  margin-left: -574px;
  margin-top: 19px;
  max-width: 1571px;
}
.price-list__cream{
  margin-left: -205px;
  margin-top: 12px;
}
.price-list__circle-chocolate{
  height: 200px;
  width: 235px;
  overflow: hidden;
}
.price-list__chocolate{
  margin-left: -18px;
  margin-top: 26px;
}
.price-list__circle-cakeWhite{
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.price-list__cakeWhite{
  margin-left: -983px;
  margin-top: 3px;
}
.price-list__circle-candy{
  overflow: hidden;
}
.price-list__candy{
  margin-left: -225px;
  margin-top: 9px;
  transform: scale(-1, 1);
}
.price-list__orange{
  background: rgba($orange, .9);
  padding-bottom: rem(90px);
}
.price-list__title{
  padding-top: rem(90px);
  text-align: center;
  color: #393939;
}
.price-list__title_position{
   width: 75%;
   margin: 0 auto;
 }
.price-list__title-title{
  font-size: rem(62px);
  margin-bottom: rem(22px);
}
.price-list__title-desc{
  color: #883213;
}
.price-list__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price-list__item{
  width: 22%;
}
.price-list__cake-name{
  font-size: 32px;
  color: #393939;
  width: 100%;
  &:first-letter{
    text-transform: uppercase;
  }
}
.price-list__cake-desc{
  font-size: 14px;
  color: #ab594a;
}

