@font-face {
  font-family: 'ptsansnarrow';
  src: url('../font/ptsansnarrow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ptsansnarrowbold';
  src: url('../font/ptsansnarrowbold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
